.main {
  background-color: #708090;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.container {
  background: #fff;
  padding: 20px;
}
